.file-action-menu .dropdown-menu-trigger {
  width: 36px;
  height: 36px;
  color: #666;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.file-action-menu .dropdown-menu-trigger:hover {
  color: #333;
  background-color: rgba(255, 255, 255, 1);
}

.file-action-menu .dropdown-menu-trigger:focus {
  outline-offset: 1px;
}
