name: CI

on:
  pull_request:
  schedule:
    - cron: '0 0 * * 0' # 毎週日曜日 00:00 UTC

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1

      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.tool-versions'
          cache: 'npm'

      - run: npm ci
      - run: npm run build
      - run: npm run test
